.homeTwoGrid {
    display: flex;
    width: 100vw;
}

.welcome {
    display: flex;
    background-image: url("./../../assets/welcome.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    border-style: solid;
}

.scratch {
    display: flex;
    background-image: url("./../../assets/scratch.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-style: solid;
}

.noFun {
    display: flex;
    background-image: url("./../../assets/noFun.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-style: solid;
}

.trigger {
    display: flex;
    background-image: url("./../../assets/trigger.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    border-style: solid;
}

.center {
    display: flex;
    background-image: url("./../../assets/PiratlogoWebsite.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border-style: solid;
    border-color: red; */
}

.linkBtn {
    display: flex;
    text-decoration: none;
    color: white;
    font-family: 'commodore';
    background-color: turquoise;
    padding: 10px;
    width: 120px;
}

.linkBtn:hover {
    color: rgb(160, 36, 36);
    background-color: black;
}

.nestedGrid {
    display: flex;
    border-style: solid;
    border-color: red;
    width: 100vw;
}

.topLeft {
    display: flex;
    justify-content: right;
    align-items: center;
    border-style: solid;
    border-color: blue;
}

.topRight {
    border-style: solid;
    border-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midLeft {
    border-style: solid;
    border-color: green;
    display: flex;
    justify-content: right;
    align-items: center;
}

.midRight {
    border-style: solid;
    border-color: yellow;
    display: flex;
    align-items: center;
    justify-content: left;
}

.nestedCenter {
    display: flex;
    border-style: solid;
    border-color: black;
    /* border-radius: 50%; */
    /*background-color: black;*/
}

.ratty {
    display: flex;
    justify-content: center;
}

.bottomLeft {
    border-style: solid;
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomRight {
    border-style: solid;
    border-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}