
button:hover {
    display: flex;
   
    background-color: black;
    font-family: 'commodore';
    justify-content: center;
}

 button {
    display: flex;
    color: white;
    font-family: 'commodore';
    background-color: turquoise;
    justify-content: center;
    width: 120px;
}

.linkBtn {
    text-decoration: none;
    color: white;
}

.linkBtn:hover {
 color: rgb(160, 36, 36);
}


.nestedGrid {
    display: flex;
  
}

.topLeft, .topRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

.midLeft {
    display: flex; 
    justify-content: right;
    align-items: center;
}

.midRight {
    display: flex;
    justify-content: left;
    align-items: center;
}

.bottomLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottomRight {
    display: flex;
    justify-content: center;
    align-items: center;
}