

p {
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-family: "take cover";
    color: white;
    font-size: 30px;
   
    box-shadow: 20 white;
  
}

.containerConstruction {

    position: fixed;
    margin-top: 50px;
margin-bottom: 50px;
    width: 80%;
    height: 80%;
    background-image: url("../../assets/menatwork.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

