
/* Container */
.articleGrid {
   display: flex;
}

/* Grid item */
.gridItem {
    display: flex;
    height: 100%;
}

/* Card */

#articleCard {
    box-shadow: rgba(46, 237, 240, 0.4) -5px 5px, rgba(46, 237, 240, 0.3) -10px 10px, rgba(46, 227, 240, 0.2) -15px 15px, rgba(46, 240, 233, 0.1) -20px 20px, rgba(46, 217, 240, 0.05) -25px 25px;
    padding: 20px;
    height: 100%;
}

/* Content */
.articleImage {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.articleTitle {
  
    font-family: "commodore";
    font-size: 2.5vw;
    text-align: center;
  
}

.articleDescription {
    display: inline-block;
    font-family: courier;
    font-size: 2vw;
    text-align: justify;
    overflow: scroll;
 
   
}

.articleBtn {
    height: 30px;
    text-align: center;
    padding: 5px;
    display: inline-flex;
    align-items: flex-end;
    text-decoration: none;
    
}

.articleLink {
 
    text-decoration: none;
}
