.title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size:x-large;
}

.mxnifesto {
   
    display: flex block;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
    white-space: pre-line;
}

.manifestoParagraph, .title {
    font-family: 'commodore';
    color: black;
    white-space: pre-line;
    padding: 5%;
    text-align: center;
    justify-content: center;
    line-height: 1.5rem;
    text-size-adjust: none;
}

p {
    font-size: small;
}