.logo {
    background-color: none !important;
    position: fixed;
    left: 30px;
    margin-top: 5px;
    z-index: 2;
    color: white;
    font-family: 'zx-spectrum';
    font-size: 15px;
 
}

.link {
    text-decoration: none;
    color: white;
    background-color: none;
}

link:hover {
    color: purple;
}