.logo {
    background-color: none !important;
    z-index: 2;
    color: white;
    font-family: 'zx-spectrum';
    font-size: 11px;
    margin-left: 5px;
 
}

.logoLink {
    text-decoration: none;
    color: white;
    background-color: none;
}

.logoLink:hover {
    color: rgb(160, 36, 36);
   
    
}