ul {
    position: relative;
    display: inline-flex;
    justify-content: baseline;
    list-style-type:none;
    margin-top: 100px;

}



a {
   
    padding: 0px;

}

.icon {

    height: 30px;
    width: 50px;
    padding: 10px;
    z-index: 4;


}