ul {
    
    position: flex;
    display: inline;
    z-index: 4;
    list-style: none;
    left: -30px;
    
    background-color: transparent;
}

a {
    padding: 10px;
    display: block;
    height: 100%;
    width: 100%;
}

.icon {

    height: 30px;
    width: 50px;
    background-color: transparent;
}

.icon:hover {

    color: rgb(160, 36, 36);
   
}



.containercontact {
    background-color: transparent;
}
