ul {
    position: fixed;
    display: block;
    z-index: 4;
    list-style: none;
    left: -30px;
    top: 40vh;
    background-color: transparent;
}

a {
    padding: 10px;
    display: block;
    height: 100%;
    width: 100%;
}

.icon {

    height: 30px;
    width: 50px;
    background-color: transparent;
}

.containercontact {
    background-color: transparent;
}
